.kontaktos {
    background-color: #94B3A9;
    margin: 0;
    font-size: 1.75rem;
    color: white;
    font-weight: 300;
    padding: .9375rem;
    text-align: center;
}

.kontaktos h3{
    font-size: 1.25rem;
    color: #3B4844;
}